<div class="panel panel-default" id="effort_entries_list">
    <div class="panel-heading">
        Effort Entries
    </div>
    <div class="panel-body">
        <table width="100%" class="table table-striped table-bordered table-hover" id="effortEntriesListTable">
            <thead>
                <tr>
                    <th class="col-sm-4">SR Number</th>
                    <th class="col-sm-2">Hrs Spent</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

